:root {
    --main-background-color : #F6F6F9;
    --main-text-color : #0017B3;
    --card-color : #FFFFFF;
    --border-focused-color : #0017B3;
    --input-field-shadow-color : #000000;
    --gray01-color : #565656;
    --black-color : #000000;
    --button-text-color : #FFFFFF;
    --black02-color : #424242;
    --test-color: #444444;
    --main-color : #0017B3;
}