
@font-face{
    font-family : "puradack_mac";
    src : url("../Resources/Fonts/mac_otf/puradak_gentle_gothic.otf");
}

@font-face{
    font-family : "pretendard_light";
    src : url("../Resources/Fonts/mac_otf/Pretendard-Light.otf");
}


@font-face{
    font-family : "pretendard_semibold";
    src : url("../Resources/Fonts/mac_otf/Pretendard-SemiBold.otf");
}

@font-face{
    font-family : "inter_regular";
    src : url("../Resources/Fonts/mac_otf/Inter.otf");
}

@font-face{
    font-family:"rebecca";
    src : url("../Resources/Fonts/mac_otf/EF_Rebecc.otf");
}