
@font-face{
    font-family : "puradack_mac";
    src : url("../Resources/Fonts/mac_otf/puradak_gentle_gothic.otf") format('opentype'),
    url("../Resources/Fonts/window_ttf/puradak_gentle_gothic.ttf") format('ttf');
}

@font-face{
    font-family : "puradack";
    src : 
    url("../Resources/Fonts/window_ttf/puradak_gentle_gothic.ttf") format('ttf'),
    url("../Resources/Fonts/mac_otf/puradak_gentle_gothic.otf") format('opentype')        
}

@font-face{
    font-family : "pretendard_light";
    src : 
    url("../Resources/Fonts/mac_otf/Pretendard-Light.otf") format('opentype'),
    url("../Resources/Fonts/window_ttf/Pretendard-Light.ttf") format('ttf');
}

@font-face{
    font-family : "pretendard_regular";
    src : 
    url("../Resources/Fonts/mac_otf/Pretendard-Regular.otf") format('opentype'),
    url("../Resources/Fonts/window_ttf/Pretendard-Regular.ttf") format('ttf');
    ;
}

@font-face{
    font-family : "pretendard_medium";
    src : 
    url("../Resources/Fonts/mac_otf/Pretendard-Medium.otf") format('opentype'),
    url("../Resources/Fonts/window_ttf/Pretendard-Medium.ttf") format('ttf');
    ;
}

@font-face{
    font-family : "pretendard_semibold";
    src : 
    url("../Resources/Fonts/mac_otf/Pretendard-SemiBold.otf") format('opentype'),
    url("../Resources/Fonts/window_ttf/Pretendard-SemiBold.ttf") format('ttf');
    ;
}

@font-face{
    font-family : "pretendard_regular_android";
    src : url("../Resources/Fonts/window_ttf/Pretendard-Regular.ttf");
}


@font-face{
    font-family : "pretendard_semibold";
    src : url("../Resources/Fonts/mac_otf/Pretendard-SemiBold.otf");
}

@font-face{
    font-family : "inter_regular";
    src : url("../Resources/Fonts/mac_otf/Inter.otf");
}

@font-face{
    font-family:"rebecca";
    src : url("../Resources/Fonts/mac_otf/EF_Rebecc.otf");
}