
@font-face{
    font-family : "puradack_mac";
    src : url("../Resources/Fonts/mac_otf/puradak_gentle_gothic.otf");
}

@font-face{
    font-family : "pretendard_light";
    src : url("../Resources/Fonts/mac_otf/Pretendard-Light.otf");
}
