@import "../CssUtil/Font.css";

.showBackColor.active_0, .showBackColor2.active_0{
    background-color: #58D2DA;
}
#showText1.active_0, #showText2.active_0{
    color:#58D2DA;
}
.showWolluImage.active_0{
    content:url("../Resources/Images/Selection_NoWork.png");
}

.showBackColor.active_1, .showBackColor2.active_1{
    background-color: #0017B3;
}
#showText1.active_1, #showText2.active_1{
    color:#0017B3;
}
.showWolluImage.active_1{
    content:url("../Resources/Images/Selection_Eat.png");
}

.showBackColor.active_2, .showBackColor2.active_2{
    background-color: #9CDC15;
}
#showText1.active_2, #showText2.active_2{
    color:#9CDC15;
}
.showWolluImage.active_2{
    content:url("../Resources/Images/Selection_Toilet.png");
}

.showBackColor.active_3, .showBackColor2.active_3{
    background-color: #F3BC1F;
}
#showText1.active_3, #showText2.active_3{
    color:#F3BC1F;
}
.showWolluImage.active_3{
    content:url("../Resources/Images/Selection_Air.png");
}

.showBackColor.active_4, .showBackColor2.active_4{
    background-color: #EE9492;
}
#showText1.active_4, #showText2.active_4{
    color:#EE9492;
}
.showWolluImage.active_4{
    content:url("../Resources/Images/Selection_Surf.png");
}

.showBackColor.active_5, .showBackColor2.active_5{
    background-color: #935DDD;
}
#showText1.active_5, #showText2.active_5{
    color:#935DDD;
}
.showWolluImage.active_5{
    content:url("../Resources/Images/Selection_Smoke.png");
}


.showBackColor.active_6, .showBackColor2.active_6{
    background-color: #00D19F;
}
#showText1.active_6, #showText2.active_6{
    color:#00D19F;
}
.showWolluImage.active_6{
    content:url("../Resources/Images/Selection_SlackOff.png");
}

.showBackColor.active_7, .showBackColor2.active_7{
    background-color: #D228D3;
}
#showText1.active_7, #showText2.active_7{
    color:#D228D3;
}
.showWolluImage.active_7{
    content:url("../Resources/Images/Selection_TurnOver.png");
}

.showBackColor.active_8, .showBackColor2.active_8{
    background-color: #9F97FF;
}
#showText1.active_8, #showText2.active_8{
    background-color: transparent;
    color: white;
    font-family: "puradack";
    font-size:large;
}
.showWolluImage.active_8{
    content:url("../Resources/Images/Selection_Dobby.png");
}

/*
.showBackColor:hover{
    transform: rotateY(180deg);
    transform-style: preserve-3d
}
*/

/*FLIP CARD EFFECT*/


.card {
  position: relative;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px #8294EF;

  transition: transform 1s;
  transform-style: preserve-3d;
}
.card_flip_active {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
  


.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}