@import "../CssUtil/Color.css";
@import "../CssUtil/Font.css";
@import "../CssUtil/InputField.css";
@import "../CssUtil/Font.css";
/*Classes*/

/*Ids*/
#getSalaryViewTextStyles{
    padding-left : 24px;
    padding-right : 24px;
    font-size: 24px;
    color: var(--gray01-color);
    text-align: left;
}
#getSalaryViewFrontText{
    padding-right: 11px;
}
#getSalaryViewBackText{
    padding-left: 11px;
}
  
#getSalaryViewInputField1 {
    width:83px;
    padding-left: 10px;
}

#getSalaryViewInputField2 {
    width:80px;
    padding-left: 10px;
}

#getSalaryViewInputField3 {
    width:40px;
    padding-left: 10px;
}

#getSalaryViewInputField1, #getSalaryViewInputField2, #getSalaryViewInputField3 {
    font-family: "pretendard_light";
    font-weight:bold;
    font-size:15px;
    color: var(--main-color);
    text-align: center;
}

/*Spaces*/

#getSalarySpace1{
    padding-top : 28px;
}

#getSalarySpace2{
    padding-top : 11px;
}

#getSalarySpace3{
    padding-top : 40px;
}

 