
.StopScroll{
    overflow: hidden;
    touch-action: none;
}

/*Ids*/
#getWolluSpace1{
    padding-top: 86px;
}

#getWolluSpace2{
    padding-top: 43.19px;
}

#getWolluSpace3{
    padding-top: 335.67px;
}

#getWolluSpace4{
    padding-top: 10px;
}

#getWolluViewTextStyles{
    padding-left : 28px;
    padding-right : 32px;
    font-size: 24px;
    color: var(--gray01-color);
    text-align: left;
}

#getWolluViewInputField1{
    width : 100px;
    padding-left: 10px;
}

#getWolluViewInputField2{
    width : 50px;
    padding-left: 10px;
}
#getWolluViewInputField1, #getWolluViewInputField2 {
    font-family: "pretendard_light";
    font-weight:bold;
    font-size:15px;
    color: var(--main-color);
    text-align: center;
}

#getWolluViewFrontText{
    padding-right: 10px;
}
#getWolluViewBackText{
    padding-left: 10px;
}
#getWolluViewBackText2{
    padding-left: 11px;
}

#Test{
    position: relative;
}


/*Images*/

#rotatingWollu{
    position: relative;
}
#GetWolluView_WolluImage{
    position: absolute;
    width: 247.56px;
    height: 248.54px;
    top:19.49px;
    left:46.32px;
}

#RotatingCircle{
    position: absolute;
    top: 0px;
    left:27.8px;
    width: 282.65px;
    height: 290.96px;
    animation: rotateImage 2s linear infinite; transform-origin: 50% 50%;
}

@keyframes rotateImage{
    100% {
        transform: rotate(360deg);
    }
}

#FloatingMoney{
    position: absolute;
    top: 0px;
    left:190px;
    animation: moneyEffect 3s linear infinite; transform-origin: 50% 50%;
}


@keyframes moneyEffect{
    50% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
}