@import "../CssUtil/Color.css";

.WalluBackground {
    width : 100%;
    height : max-content;
    text-align: center;
    position: relative;
    background-color: var(--main-background-color);
}

.GoogleAd{
    margin:auto;
    width : 327px;
    height:84px;
    background-color: gray;
    text-align: center;
    color:beige;
    align-items: center;
    vertical-align: middle;
}

#WolluAdSpace{
    padding-top: 26px;
}